@font-face {
    font-family: apercu;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: futurak ;
    src: url(fonts/futurak.ttf);
}
@font-face {
    font-family: butler;
    src: url(fonts/butler.zip);
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
nav{
    box-sizing: border-box;
    position: fixed;
}
nav img{
    width: 150px;
    margin-left: 20px;
}
nav li{
    padding: 10px 20px;
}
nav ul{
    margin-left: 200px;
}
.box{
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
}
.two{
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    background-color: #ED1C24;
}
nav a{
    color: #fff;
    text-decoration: none;
}
h1>span{
    font-family: futurak;
    font-size: 50px;
}
.one > img {
    object-fit: contain;
    background-color: #ffff;
    padding: 0px 19px;
    border-radius: 3px;
}
table{
    margin: 0px auto;
    width: 50%;
}
.rone{
    background-color: #ffff;
}
.pic{
    margin-bottom: 100px;
}
.rone>td{
    line-height: 50px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 10px solid black;
}
.rtwo p{
    
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 25px;
    text-align: center;
    text-transform: capitalize;
}
.rtwo a{
    text-decoration: none;
    color: #ffff;
}
.container-fluid{
    color: #ffff;
}
.welcome{
    line-height: 50px;
    text-align: center;
}
.welcome > span{
    font-family: futurak;
}
.welcome h1{
    font-size: 50px;
    font-family: 'butler';
}
.welcome p{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
    
}
.mid{
    margin: 20px;
    line-height: 50px;
    background-color: #0f0f0f;
    background-image: url(https://images-beta.tossdown.com/site/bb1bd702-431a-4f3a-a0ca-c5966a1f7985.webp);
    background-repeat: no-repeat;
    background-position:top right;
}
small{
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
}
.grid{
    width: 100%;
    margin: 100px;
    display: flex;
    flex-direction:row ;
}
.grida h1{
    font-family: 'apercu';
    font-style: normal;
}
.grida span{
    font-style: normal;
    font-size: 40px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-family: futurak;
}
.gridap{
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    margin: 5px 50px;
}
.gridb{
    margin-left: 350px;
}
.grid2{
    width: 100%;
    margin:100px;
    display: flex;
    flex-direction:row ;

}
.gridd{
    margin-left: 180px
}
.gridd span{
    font-style: normal;
    font-size: 40px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-family: futurak;
}
.grid3{
    width: 100%;
    margin: 100px;
    display: flex;
    flex-direction:row ;
}
.gride span{
    font-style: normal;
    font-size: 40px;
    line-height: 38px;
    color: #FFFFFF;
    
    margin-bottom: 24px;
    font-family: futurak;
}
.gride h1{
    font-family: 'apercu';
    font-style: normal;
}
.gridf{
    margin-left: 350px;
    margin-bottom: 50px;
}
.t2{
    margin: 20px auto;
    line-height: 20px;
    text-align: center;
}
.t2 img{
    width: 300px;
}
.t2 td{
    border-spacing: 10px;
    padding: 40px;
    line-height: 20px;
}
.t2 .gridap{
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    padding: 15px 5px;
}
.t2 span{
    font-style: normal;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-family: futurak;   
}
.b-img{
    position: absolute;
    left: 33px;
    z-index: -1; 
}
.h2{
    text-align: center;
    font-family: butler;
}
.head{
    font-size: 50px;
}
.b2-img{
    position: absolute;
    right: 0px;
    margin-top: 10px;
    box-sizing: border-box;
}
.mid3>h1{
    text-align: center;
    font-family: butler;
    font-size: 50px;
}
.mid3{
    background-color: #0f0f0f;
}
.mid3 img{
    margin: 10px;
    margin-left: 50px;
    margin-top: 50px;
    width: 700px;
}
.mid3a{
    display: flex;
    flex-direction: row;
}
.mid3ab{
    margin: 20px;
    margin-top: 200px;
}
.mid3ab span{
    font-family: futurak;
}
.mid3 .gridap{
    padding: 10px;
    margin: 0px 100px;

}
.gridap{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gridap:hover{
    cursor: pointer;
}
.gridap i{
    position: absolute;
    justify-content:center;
    padding: 5px 6px;
    right: 20px;
    color: #ED1C24;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
}
 a{
    text-decoration: none;
    color: #fff;  
}
.font i{
    color: #ED1C24;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    justify-content:center;
    padding: 5px 6px;
    cursor: pointer;
}
.map1 p{
    background-color: #28a745;
}
.map1 i{
    color: #28a745;
    border: 1px solid#28a745;
    background-color: #fff;
    border-radius: 100%;
    justify-content:center;
    padding: 5px 6px;
    cursor: pointer;
}
.mid .gridap i{
    margin-top: 10px;
}
.th{
    font-weight: 100;
    text-align: center;
    font-family: butler;
}
.th span{
    font-size: 40px;
}
.th .sp2{
    font-family: butler;
    font-size: 20px;
}
.t .pic{
    width: 50px;
    margin: 20px;
    vertical-align: middle;
}
.t{
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: #fff;
    color: #0f0f0f;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.t p{
    margin: 5px;
    margin-bottom: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.t h4{
    margin: 5px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.t span{
    font-family: butler;
    font-size: 25px;   
    font-weight: 600;
}
.t3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sfeed h3{
    font-size: 35px;
}
.sfeed{
    text-align: center;
    font-family: butler;
    padding: 20px;
    margin: 10px;
}
.pics img{
    width: 250px;
    cursor: pointer;
}
.sf{
    display: flex;
    flex-direction: row;
}
.pics{
    margin: 10px 20px;
    border-radius: 10px;
}
.footer{
    background-image: url(https://images-beta.tossdown.com/site/a4195117-d4ae-45d4-9088-21162bacdfb1.webp);
    background-repeat: no-repeat;
    background-position: bottom left;
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: #0f0f0f;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    font-family: butler;
}
.last{
    width: 24%;
    margin: 20px;
    margin-left: 100px;
}
.last i{
    border: 1px solid #ED1C24;
    padding: 10px;
    text-align: center;    
    margin-right: 8px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ED1C24;
    color: #fff;
    border-radius: 50px;
}
.last .icon{
    line-height: 70px;
}
.last ul{
    margin-top: 50px;
    line-height: 40px;
    list-style: none;
}
.li1{
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}
.last>img{
    margin-bottom: 20px;
}
.end{
    border-top: 1px solid #666666;
    display: flex;
    flex-direction: row;
    background-color: #0f0f0f;
}
.end1{
    margin: 20px;
}
.end2{
    margin: 20px;
    margin-left: 1000px;
}